build/
.DS_Store
/.vscode
ShangEn/build/*
BenHall/lab1/build
RishiB/build/*
mitchellcomer/.vscode/*
mitchellcomer/result
Ujaan/Lab-2/Part-1/build/*
milesK/milesKlab1/build
joel/lab2/part1/build
joel/lab2/part2/build
joel/lab2/part3/build
JasonWang/Lab1/build
JasonWang/Lab2/Part1/build
JasonWang/Lab2/Part1/result

Jason/lab2/Part3/result

BenHall/lab1/part1/build
BenHall/lab1/part2/build
BenHall/lab2/part1/result/
BenHall/lab2/part1/result
.idea/
../cmake-build-debug/
