build/
.DS_Store
ShangEn/build/*
BenHall/lab1/build
RishiB/build/*
mitchellcomer/.vscode/*
mitchellcomer/result
Ujaan/Lab-2/Part-1/build/*
milesK/milesKlab1/build
JasonWang/Lab1/build
JasonWang/Lab2/Part1/build
JasonWang/Lab2/Part1/result
DerekNgu/lab2/part1/build
DerekNgu/lab2/part1/result
DerekNgu/lab2/part2/collection/result
DerekNgu/lab2/part2/collection/build
DerekNgu/lab2/part3/result
/.vscode


BenHall/lab1/part1/build
BenHall/lab1/part2/build
BenHall/lab2/part1/result/
BenHall/lab2/part1/result
