build/
.DS_Store
ShangEn/build/*
BenHall/lab1/build
RishiB/build/*
Ujaan/Lab-2/Part-1/build/*
milesK/milesKlab1/build
JasonWang/Lab1/build
JasonWang/Lab2/Part1/build
JasonWang/Lab2/Part1/result
/.vscode

